.App {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-main {
  display: flex;
}

.App-main section {
  flex-grow: 1;
}

.App-main div {
  flex-grow: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Buttons-wrapper {
  margin-top: 0;
  text-align: center;
}

.Buttons-wrapper button {
  margin: 0 10px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 2rem;
}

.Users-wrapper {
  padding: 0 20px;
  text-align: justify;
  font-size: 0.8rem;
}

.Post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 20px;
  font-size: 0.85rem;
  font-weight: bold;
  background-color: lightcyan;
  border: 1px solid blue;
}

.Post-buttons {
  display: flex;
  flex-direction: column;
}

.Post-buttons button {
  margin-bottom: 10px;
}

.Post-info {
  flex-grow: 1;
  margin-right: 20px;
  text-align: left;
}

.Post-body {
  font-weight: normal;
}

.Post-author {
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
  text-align: right;
  font-size: 0.8rem;
}
